.leaflet-container {
  width: 100%;
  height: 100vh; /* Full Screen Height */
}

.map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}